// color
//$primary: rgba(33,174,46,1)
//$secondary: rgba(33,174,125,1)
//$accent: rgba(33,174,155,1)
//$dark: #1D1D1D
//$positive: rgba(50,205,135,1)
//$negative: rgba(243,89,95,1)
//$info: rgba(50,176,246,1)
//$warning: rgba(248,177,28,1)

$primary: #16a34a
$secondary: #0891b2
$accent: #2563eb
$dark: #1D1D1D
$positive: #22c55e
$negative: #dc2626
$warning: #eab308
$info: #0ea5e9

// button
//$button-padding: 0px 4px !default
//$button-dense-padding: 0em 0.5em !default
$button-font-weight: 600 !default
$button-line-height: 16px !default

// typography
$typography-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !default
